/.scannerwork
/.idea
/doc/api
/doc/build/.phpdoc
/doc/build/.phive
/doc/build/phive
/doc/build/phpdocumentor
/doc/manual/phpxmlrpc_manual.pdf
/vendor/*
/.phpunit.result.cache
/composer.lock
/phpunit.xml
